<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="icon" href="{% static 'assets/img_9.png' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <title>Aboutpage</title>
</head>
<body>
<a href="{% url 'home' %}">Home</a>
<a href="{% url 'gallery' %}">Gallery</a>

<h1>Additional information about ShopDish</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolore numquam officia reiciendis sequi! Blanditiis consectetur iste quas tempora veniam voluptas. Ad eligendi eum nobis quas saepe sapiente totam voluptate.</span><span>Accusantium, adipisci aspernatur blanditiis consectetur consequatur ea excepturi exercitationem ipsam labore necessitatibus neque nulla odio perspiciatis possimus, provident qui, quidem quod recusandae repellendus sed tempore totam ullam veniam vero voluptatibus.</span></p>
<h2>Why choose us?</h2>
<div id="main">
    <div class="mydiv">
        <img src="{% static 'assets/img_12.png' %}" alt="">
        <h3>Rolex</h3>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores aspernatur ea eligendi eos eveniet explicabo fugiat illo in incidunt ipsa, ipsam maiores, minima, molestias nesciunt repellendus saepe sint voluptatum.</span><span>Ad alias asperiores aspernatur atque aut, autem beatae, consequatur cum debitis dolor ducimus ea eaque explicabo id labore laboriosam laudantium minus nulla numquam officia pariatur placeat quae repellendus sunt suscipit?</span></p>
        <button>More</button>
    </div>

    <div class="mydiv">
         <img src="{% static 'assets/img_13.png' %}" alt="">
        <h3>Casio</h3>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores aspernatur ea eligendi eos eveniet explicabo fugiat illo in incidunt ipsa, ipsam maiores, minima, molestias nesciunt repellendus saepe sint voluptatum.</span><span>Ad alias asperiores aspernatur atque aut, autem beatae, consequatur cum debitis dolor ducimus ea eaque explicabo id labore laboriosam laudantium minus nulla numquam officia pariatur placeat quae repellendus sunt suscipit?</span></p>
        <button>More</button>
    </div>

    <div class="mydiv">
         <img src="{% static 'assets/img_14.png' %}" alt="">
        <h3>Quartz</h3>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores aspernatur ea eligendi eos eveniet explicabo fugiat illo in incidunt ipsa, ipsam maiores, minima, molestias nesciunt repellendus saepe sint voluptatum.</span><span>Ad alias asperiores aspernatur atque aut, autem beatae, consequatur cum debitis dolor ducimus ea eaque explicabo id labore laboriosam laudantium minus nulla numquam officia pariatur placeat quae repellendus sunt suscipit?</span></p>
        <button>More</button>
    </div>
</div>


</body>
</html>